<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<title>Tipos de Animais</title>
</head>
<body>
	<table>
		<thead>
			<tr>
				<th>Especie</th>
				<th>Raça</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="tipoAnimal : *{listTipoAnimal}">
				<td th:text="${tipoAnimal.especie}" />
				<td th:text="${tipoAnimal.raca}" />
			</tr>
		</tbody>
	</table>
</body>
</html>